<body>
    <form method="post" enctype="multipart/form-data" asp-controller="SearchTag">

        <label for="evTitle">Search</label>
        <input type="text" class="textarea" id="search" name="search" maxlength="50" required />
        <button type="submit" class="textarea" id="search" value="search">Search</button>
    </form>
    <h1></h1>
</body>