@{
    ViewData["Title"] = "Event Creation Testing";
}
<body>
    <h2 style="position: relative; right:0;">
        Event Creation
    </h2>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="EventCreation" asp-action="CreateEvent">

            <label for="evTitle">Event Title: </label>
            <input type="text" class="textarea" id="name" name="name" maxlength="50" required />
            <br />

            <label for="evImg">Event Image: </label>
            <input type="file" class="textarea" name="flyer" style="color:black;" required />
            <br />

            <label for="evDesc">Event Description: </label>
            <input type="text" class="textarea" id="description" name="description" maxlength="1000" required />
            <br />

            <label for="evDate"> Event Date: </label>
            <input type="date" class="textarea" id="date" name="date" required />
            <br />

            <label for="evTime"> Event Time: </label>
            <input type="time" class="textarea" id="time" name="time" required />
            <br />

            <label for="locBldg">Please select a building: </label>
            <select name="building" class="textarea" id="building">
                <option>Mathematical Sciences</option>
                <option>Aeronautics and Engineering</option>
                <option>Liquid Crystals Materials Science</option>
                <option>Cunningham Hall</option>
                <option>Henderson Hall</option>
                <option>Smith Hall</option>
                <option>Science Research</option>
                <option>Willaims Hall</option>
                <option>Intergrated Sciences</option>
            </select>
            <br />

            <label for="locRoom">Please Specify a room number</label>
            <input type="number" class="textarea" id="room" name="room" />
            <br />

            @*<label for="locCamp">Please select a campus: </label>
            <select name="campus" id="campus">
                <option value="KT">Kent</option>
                <option value="GA">Geauga</option>
                <option value="AT">Ashtabula</option>
                <option value="EL">East Liverpool</option>
                <option value="SA">Salem</option>
                <option value="ST">Stark</option>
                <option value="TR">Trumbull</option>
                <option value="TU">Tuscarawas</option>
            </select>*@
            <br />
            <button type="submit" class="textarea" id="submit" value="Submit">Submit Event</button>
            <button type="reset" class="textarea" id="reset">Reset From</button>
        </form>
    </div>
</body>