@{
    ViewData["Title"] = "Event Creation";
}

<body>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="EventCreation" asp-action="CreateEvent">

            <label for="evTitle">Event Ttitle: </label>
            <input type="text" id="evTitle" name="evTitle" maxlength="50" />
            <br />

            <label for="evImg">Event Image: </label>
            <input type="file" name="flyer" class="form-control" />
            <br />

            <label for="evDesc">Event Description: </label>
            <input type="text" id="evDesc" name="evDesc" maxlength="140" />
            <br />

            <label for="evDate"> Event Date: </label>
            <input type="date" id="evDate" name="evDate" />
            <br />

            <label for="evTime"> Event Time: </label>
            <input type="time" id="evTime" name="evTime" />
            <br />

            <label for="locBldg">Please select a building: </label>
            <select name="locBldg" id="locBldg">
                <option>Mathematical Sciences</option>
                <option>Aeronautics and Engineering</option>
                <option>Liquid Crystals Materials Science</option>
                <option>Cunningham Hall</option>
                <option>Henderson Hall</option>
                <option>Smith Hall</option>
                <option>Science Research</option>
                <option>Willaims Hall</option>
                <option>Intergrated Sciences</option>
            </select>
            <br />

            <label for="locRoom">Please Specify a room number</label>
            <input type="number" id="locRoom" name="locRoom" />
            <br />

            <label for="locCamp">Please select a campus: </label>
            <select name="locCamp" id="locCamp">
                <option value="KT">Kent</option>
                <option value="GA">Geauga</option>
                <option value="AT">Ashtabula</option>
                <option value="EL">East Liverpool</option>
                <option value="SA">Salem</option>
                <option value="ST">Stark</option>
                <option value="TR">Trumbull</option>
                <option value="TU">Tuscarawas</option>
            </select>
            <br />

            <button type="submit" id="submit" action="">Submit Event</button>
            <button type="reset" id="reset">Reset From</button>
        </form>
    </div>
</body>
