
@{
    ViewData["Title"] = "Modify";
}


<h1>Delete Event By Id</h1>

<body>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="AppAdmin" asp-action="DeleteEvent">

            <label for="Id">Event Id: </label>
            <input type="text" id="Id "name="id" maxlength="50" required />
            <br />
            <button type="submit" id="submit" value="Submit">Delete Event</button>
        </form>
    </div>
</body>